{
  "extends": "@react-native-community",
  "parser": "@babel/eslint-parser",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-undef": "off"
  }
}
